[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = .                     # Where everything is kept
database          = $dir/.index           # database index file.
serial            = $dir/.serial          # The current serial number
private_key       = $dir/ca-key.pem       # The private key
certificate       = $dir/ca-cert.pem      # The CA certificate
crlnumber         = $dir/.crlnumber       # the current crl number
crl               = $dir/ca-crl.pem       # The current CRL
default_md        = sha256                # which md to use.
default_crl_days  = 30                    # how long before next CRL
